 .u-section-1 {
  filter: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 579px;
}

.u-section-1 .u-image-1 {
  filter: brightness(0.7);
  height: 200px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  width: 634px;
  margin: 119px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    inset: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}